<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p style="color: #105cb6">

    {{info.msg}}

</p>
<div style="width: 100%; overflow:auto;">
    <div ng-show="isAuthenticated">
        <h2>Reservations on this account</h2>
        <div ng-show="noTicketsFound">
            <p>No tickets found for this account</p>
        </div>
        <div ng-show="!noTicketsFound">
            <br/>
            <div style="float:left; width:48%; margin-right:2%">
                <ul class="list-group">
                    <li ng-repeat="reservation in tickets">
                        <a ng-click="getDetails(reservation.airline, reservation.airlineResId)">
                            <div class="jumbotron">
                                Reservation:
                                <p>Airline: {{reservation.airline}}</p>
                                <p>Number of passengers: {{reservation.passengers}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="float:right; width:48%; margin-left: 2%">
                <div ng-show="showDetailsOnWebsite" class="jumbotron">
                    Details found:
                    <p>ReservationId: {{reservationDetails.ReservationId}}</p>
                    <p>Passengers:
                        <ul>
                            <li ng-repeat="passenger in reservationDetails.Passengers">
                                <span ng-show="passenger.Name!=null">{{passenger.Name}}</span><span ng-show="passenger.lastName != null">{{passenger.lastName}}, {{passenger.firstName}}</span><br/>
                                {{passenger.Address}}<br/>
                                {{passenger.City}}<br/>
                                {{passenger.Country}}<br/>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>