<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<div style="width: 100%; overflow:auto;">
    <div ng-show="isAuthenticated">
        <h2>Reservations on this account</h2>
        <div ng-show="noTicketsFound">
            <p>No tickets found for this account</p>
        </div>
        <div ng-show="!noTicketsFound">
            <br/>
            <div style="float:left; width:48%; margin-right:2%">
                <ul class="list-group">
                    <li ng-repeat="reservation in tickets">
                        <a ng-click="getDetails(reservation.airline, reservation.airlineResId)">
                            <div class="jumbotron">
                                Reservation:
                                <p>Airline: {{reservation.airline}}</p>
                                <p>Number of passengers: {{reservation.passengers}}</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div style="float:right; width:48%; margin-left: 2%">
                <div ng-show="showDetailsOnWebsite" class="jumbotron">
                    Details found:
                    <p>ReservationId: <span ng-show="reservationDetails.ReservationId!=null">{{reservationDetails.ReservationId}}</span><span ng-show="reservationDetails.reservationID!=null">{{reservationDetails.reservationID}}</span><span ng-show="reservationDetails.reservationId!=null">{{reservationDetails.reservationId}}</span><span ng-show="reservationDetails.ReservationID!=null">{{reservationDetails.ReservationID}}</span></p>
                    <p>Passengers:
                        <ul>
                            <li ng-repeat="passenger in reservationDetails.Passengers">
                                <span ng-show="passenger.Name!=null">{{passenger.Name}}</span><span ng-show="passenger.lastName != null">{{passenger.lastName}}, {{passenger.firstName}}</span><br/>
                                <span ng-show="passenger.Address!=null">{{passenger.Address}}</span><span ng-show="passenger.street!=null">{{passenger.street}}</span><br/>
                                <span ng-show="passenger.City!=null">{{passenger.City}}</span><span ng-show="passenger.city!=null">{{passenger.city}}</span><br/>
                                <span ng-show="passenger.Country!=null">{{passenger.Country}}</span><span ng-show="passenger.country!=null">{{passenger.country}}</span><br/>
                            </li>
                        </ul>
                    </p>
                    <button class="btn btn-primary" style="width: 10em">Print</button>
                    <a ng-click="delete(reservationDetails.airline, reservationDetails.reservationId)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>