<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<p style="color: #105cb6">

  {{info.msg}}

</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>API path</th>
                <th>Request type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/flights/:airport/:date</td>
                <td>GET</td>
                <td>Returns a list of flights gathered from the different airlines based on start airport and date</td>
            </tr>
            <tr>
                <td>/flights/:startAirport/:endAirport/:date</td>
                <td>GET</td>
                <td>Returns a list of flights gathered from the different airlines based on both start and end airports and date of departure</td>
            </tr>
            <tr>
                <td>/reservation/:airline/:reservationId</td>
                <td>GET</td>
                <td>Returns the corresponding reservation</td>
            </tr>
            <tr>
                <td>/reservation/:airline/:flightId</td>
                <td>POST</td>
                <td>Reserves(buys) tickets for the corresponding flight. Payload: List of passengers as JSON</td>
            </tr>
            <tr>
                <td>/reservation/:airline/:reservationId</td>
                <td>DELETE</td>
                <td>Deletes the corresponding reservation</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-controller="AppCtrl">
    <div>
        <form ng-submit="firstForm.submitForm()">
            <div>
                <input type="text" ng-model="firstForm.startAirport" placeholder="Airport goes here">
                <input type="text" ng-model="firstForm.date" placeholder="Date as Unix(for now)">
            </div>
            <div>
            <button type="submit" ngClick="Submit">Search for flights</button>
            </div>
        </form>
    </div>
    <div>
        {{firstForm.startAirport}}
        {{firstForm.date}}
        <br/>
        {{flightList}}
    </div>
    <div>
        <form ng-submit="getReservationForm.submitForm()">
            <div>
                <input type="text" ng-model="getReservationForm.getThisID" placeholder="reservation ID">
            </div>
            <div>
                <button type="submit" ngClick="Submit">get reservation</button>
            </div>
        </form>
        {{getReservationForm.reservationx}}
    </div>
</div>

